*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: red;
    font-size: 70px;
}
h2{
    font-size: 50px;
}
p{
    font-size: 20px;
}
img{
    max-width: 50%;
    margin-top: 10px;
}
div{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.box1{
    background-color: chartreuse;
    text-align: center;
    border: 5px solid green;
}
.box2{
    background-color: aquamarine;
    text-align: center;
    border: 5px dashed blue;
    font-size: 10px;
}
.box3{
    background: rgb(247, 0, 255);
    text-align: center;
    border: 5px dotted purple;
}
.box4{
    background-color: darkorange;
    text-align: center;
    border: 5px double orangered;
}