*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 70px;
    color: red;
}
.lol1{
    border: 5px solid rgb(255, 255, 255);
    background-color: dimgrey;
    padding: 10px;
    width: 15%;
    text-align: center;
    margin:40px 0px 0px 630px;
}
.lol2{
    border: 5px solid white;
    background-color: rgb(104, 184, 184);
    padding: 10px;
    width: 15%;
    text-align: center;
    margin:40px 0px 0px 630px;
}